<!DOCTYPE html>
 
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="../JS/typeahead.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'countries',
                remote: 'http://localhost:3000/profile/search?key=%QUERY',
                limit: 10
            });

            $('#likeImage').click(function(){
                //alert('Hii');
                let flag=1;  
                if($('#likeImage').val()=='dislike')
                flag=0;


                if($('#likeImage').val()=='like'){
                    //$('#likeImage').html('dislike');
                    $('#likeImage').attr('value',"dislike");
                }
                else{
                    //$('#likeImage').html('like');
                    $('#likeImage').attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+1+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
            });
            
            /*$(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                    ('#add-data').append('<li>Main<li>')
                }
            });*/
    });
    function showFeed(id){
            window.location='/showfeed/'+id;
            return false;
    }

    function showAccount(username){
            window.location='/account/'+username;
            return false;
    }

    function likeImage(feedname,data){
                //alert(feedname);
                let flag=1;  
                if($(data).val()=='dislike')
                flag=0;


                if($(data).val()=='like'){
                    //$(data).html('dislike');
                    $(data).attr('value',"dislike");
                }
                else{
                    //$(data).html('like');
                    $(data).attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+feedname+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert(url);
                        //alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
    }

     

</script>
</head>
<body>
    HomePage!
    <form id="homeForm" action="/login" method="GET">
        <input type="submit" value="Logout">  
    </form>
    <br>
    <form id="homeForm" action="/profile" method="GET">
        <input type="submit" value="Profile">
    </form>
    <br><br>
    
    <input type="text" id="search-text" class="typeahead tt-query" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Type username">
    <br><br><br>
    <form id="search-user-form" method="GET" action="" >
        <input type="submit" name="searchUser" id="search-user" value="search"> 
    </form>

    <div id="load-feed">
        <% for(var i=0; i < feedResult.length; i++) { %>
            <label onclick="showAccount('<%=feedResult[i].username%>')"><%=feedResult[i].username%></label><br>
            <img id="<%=feedResult[i].feedname%>" onclick="showFeed(this.id);return false;"  src="profilepics/<%=feedResult[i].feedname%>" height="500px" width="500px"><br>
            <input type="button" id="like-btn-<%=feedResult[i].feedname%>" onclick="likeImage('<%=feedResult[i].feedname%>',this)" value="<%=feedResult[i].isliked%>" >
            <button onclick="showFeed('<%=feedResult[i].feedname%>')">Comment</button>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <% } %>
    </div>
    <script>
        $('#search-user-form').submit(function(){
        let username = $('#search-text').val();
        //alert(username);
        $(this).attr('action', "/account/" + username);
        }); 
    </script>
</body>
</html>



<!--
    HomePage!
    <form id="homeForm" action="/login" method="GET">
        <input type="submit" value="Logout">  
    </form>

    <form id="homeForm" action="/profile" method="GET">
        <input type="submit" value="Profile">
    </form>
-->