<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/cb2d0db4c2.js"></script>
<script  type="text/javascript" src="../JS/typeahead.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'countries',
                remote: 'http://localhost:3000/profile/search?key=%QUERY',
                limit: 10
            });

            $('#likeImage').click(function(){
                //alert('Hii');
                let flag=1;  
                if($('#likeImage').val()=='dislike')
                flag=0;


                if($('#likeImage').val()=='like'){
                    //$('#likeImage').html('dislike');
                    $('#likeImage').attr('value',"dislike");
                }
                else{
                    //$('#likeImage').html('like');
                    $('#likeImage').attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+1+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
            });
            
            /*$(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                    ('#add-data').append('<li>Main<li>')
                }
            });*/
            $('#search-user-form').submit(function(){
                let username = $('#search-text').val();
                //alert(username);
                $(this).attr('action', "/account/" + username);
            });
    });
    function showFeed(id){
            window.location='/showfeed/'+id;
            return false;
    }

    function showAccount(username){
            window.location='/account/'+username;
            return false;
    }

    function likeImage(feedname,data){
                //alert(feedname);
                let flag=1;  
                if($(data).val()=='dislike')
                flag=0;


                if($(data).val()=='like'){
                    //$(data).html('dislike');
                    $(data).attr('value',"dislike");
                }
                else{
                    //$(data).html('like');
                    $(data).attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+feedname+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert(url);
                        //alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
    }

     

</script>
<style type="text/css">
body{
    margin-top:20px;
    position: absolute;
    left: 350px;
    background-color: #ecf0f5;
}
.box-widget {
    border: none;
    position: relative;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}
.user-block .description {
    color: #999;
    font-size: 13px;
}
.user-block .username, 
.user-block .description, 
.user-block .comment {
    display: block;
    margin-left: 50px;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.pad {
    padding: 10px;
}
.box .btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.box-comments {
    background: #f7f7f7 !important;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.img-sm, 
.box-comments .box-comment img, 
.user-block.user-block-sm img {
    width: 30px !important;
    height: 30px !important;
}
.img-sm, .img-md, 
.img-lg, .box-comments .box-comment img, 
.user-block.user-block-sm img {
    float: left;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
}
.img-sm+.img-push {
    margin-left: 40px;
}
.box .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
</style>
</head>

<header>
    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                Social-Network-Logo
                            </a>
                        </div> 
                        <!-- Search Navbar -->
                        <form method="GET" action="" id="search-user-form" class="navbar-form navbar-left search-container hidden-xs" role="search" >
                            <div class="form-group">
                                <input type="search" id="search-text" class="typeahead tt-query" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Type username">
                            </div>
                            <input type="submit" class="btn btn-default btn-search" value="Search" name="searchUser" id="search-user">
                        </form>
                        <!--END Search navbar -->
                        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/login">Logout</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collxapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                 
    </div>
</header>
<!--END of Header-Navbar-->

<body>
<br><br><br>
    <div id="load-feed-old">
        <% for(var i=0; i < feedResult.length; i++) { %>
            <label onclick="showAccount('<%=feedResult[i].username%>')"><%=feedResult[i].username%></label><br>
            <img id="<%=feedResult[i].feedname%>" onclick="showFeed(this.id);return false;"  src="profilepics/<%=feedResult[i].feedname%>" height="500px" width="500px"><br>
            <input type="button" id="like-btn-<%=feedResult[i].feedname%>" onclick="likeImage('<%=feedResult[i].feedname%>',this)" value="<%=feedResult[i].isliked%>" >
            <button onclick="showFeed('<%=feedResult[i].feedname%>')">Comment</button>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <% } %>
    </div>

<!--NEWLY ADDED STARTS-->
<div id="load-feed-new">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<% for(var i=0; i < feedResult.length; i++) { %>
<div class="container bootstrap snippets bootdey">
<div class="col-md-8">
  <div class="box box-widget">
    <div class="box-header with-border">
      <div class="user-block">
        <img class="img-circle" src="#" alt="User Image"><!--ADD PROFILE PIC OF USER WHO POSTED IT-->
        <span class="username"><a href="/account/<%=feedResult[i].username%>"><%=feedResult[i].username%></a></span>
        <span class="description">Shared publicly - Post Created At</span><!--IN ABOVE LINE, ADD HREF TO USER'S ACCOUNT -->
      </div>
     <!-- <div class="box-tools"> 
        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
        <i class="fa fa-circle-o"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><a href="/"><i class="fa fa-times"></i></a></button>
      </div>
    -->
    </div>

    <div class="box-body" style="display: block;">
      <img class="img-responsive pad"  id="<%=feedResult[i].feedname%>" onclick="showFeed(this.id);return false;"src="profilepics/<%=feedResult[i].feedname%>" alt="Photo"> <!--INSERT SRC-->
      <!--<p>CAPTION</p>
      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
      -->
      <div class="btn btn-default btn-sm"> 
        <i class="fa fa-thumbs-o-up fa-2x"></i><input type="button" style="border: none;font-size:larger;"  id="like-btn-<%=feedResult[i].feedname%>" onclick="likeImage('<%=feedResult[i].feedname%>',this)" value="<%=feedResult[i].isliked%>" /> <!--ADD INITIAL VALU OF LIKE-DISLIKE-->
      </div>
      <div class="btn btn-default btn-sm"> 
        <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i><input type="button" style="border: none;font-size:larger;"  id="comment-btn-only-for-show" onclick="showFeed('<%=feedResult[i].feedname%>')" value="Comment" /> <!--ADD INITIAL VALU OF LIKE-DISLIKE-->
      </div>
      <span class="pull-right text-muted">[Number] likes -[Number] comments</span><!--ADD LIKE, COMMENT COUNT-->
    </div>
    
    
    
 
  </div>
</div>
</div>

<% } %>
</div>

</body>
</html>



<!--
    HomePage!
    <form id="homeForm" action="/login" method="GET">
        <input type="submit" value="Logout">  
    </form>

    <form id="homeForm" action="/profile" method="GET">
        <input type="submit" value="Profile">
    </form>
-->