<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <title>
        Profile
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#uploadFeedButton").click(function(){
                $("#uploadFeedForm").toggle();
            });
            
            $('#uploadFeedForm').submit(function() {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
                error: function(xhr) {
                status('Error: ' + xhr.status);
                },
                success: function(response) {
                $("#status").empty().text(response);
                    console.log(response);
                }
            });
            //Very important line, it disables the page refresh.
            return false;
            });

            //===============================
            //showPost
            $("#showPost").click(function(){
                //$("main").hide();
                

            });




        });    
    </script>
</head>
<body>
    <main>
    <p>ProfilePage!</p>
    <!--<p>1612436165880.png</p>
    <p><%=dpName%></p>
    <img src="profilepics/1612436165880.png" height="100px" width="100">-->

    <img src="profilepics/<%=dpName%>" height="250px" width="250px"><br>
    <p>username: <%=data.username%></p>
    <p>Fullname: <%=data.fullname%></p>
    <p>Birthdate: <%=data.birthdate%></p>
    <p>Bio: <%=data.bio%></p>
    <form id="profileForm" action="/profile/edit" method="GET">
        <input type="submit" name="editProfile" value="Edit Profile">
    </form><br>

    <button id="uploadFeedButton">Upload Feed</button><br><br>
    <form id="uploadFeedForm" hidden action="/profile/postFeed" method="POST" enctype="multipart/form-data">
        <input id="uploadFile" type="file" name="uploadFile" value="Upload File" />
        <input type="submit" id="uploadFeed" name="Upload" />
        <span id = "status"></span>
    </form>
    
    <div id="showPost">
    <% for(var i=0; i < feedResult.length; i++) { %>
        <img src="profilepics/<%=feedResult[i].feedname%>" height="250px" width="250px">
        &nbsp;&nbsp;&nbsp;&nbsp;
    <% } %>
    </div>

</main>
    
</body>

</html>